footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
footer i{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #81888E;
    margin: 3px;
}
.icons-f{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.mdeo{
    padding-top: 3%;
    padding-bottom: 1%;
}
.copy{
    padding-bottom: 10%;
}
@media only screen and (min-width: 1024px){
    .icons-f{
        width: 17%;
        justify-content: space-evenly;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    .mdeo{
        color: #49A37B;
        padding-top: 1%;
    }
    .copy{
        padding-bottom: 0%;
    }
}