<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.worldvectorlogo.com/logos/tether.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="../javascript/login.js"></script>
</head>
<body>
  <header>
    <div class="topnav">
      <i class="fa fa-bars"></i>
      <div class="tutorial-contact">
        <a href="#tutorial" class="tutorial">Tutorial</a>
        <a href="#contact" class="contact">Contact</a>
      </div>
      <div class="search-bar">   
        <input type="text" class="search" placeholder="Search...">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="home">
        <button class="home"><a href="../views/index.html">Home</a></button>
      </div>
    </div>
  </header>
  <main>
    <div class="title">
      <img src="https://cdn.worldvectorlogo.com/logos/tether.svg" alt="Trackgenix-logo">
      <div class="titless">   
        <h1>TRACKGENIX</h1>
        <h3>DATA MANAGEMENT</h3>
      </div>
    </div>
      <form class="form-signin">
        <h3>Sign In</h3>  
        <div class="e-mail">
          <label for="e-mail">Username:</label>
          <input type="email" id="e-mail">
          <span class="wrng-user">Wrong Username</span>
        </div>
        <div class="password">
          <label for="password">Password:</label>
          <input type="password" id="password">
          <span class="wrng-passwrd">Wrong Password</span>
        </div>
        <div class="remember-forgot">
          <div class="remember-me">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me.</label>
          </div>    
          <div class= "forgot">
            <button class="frgt-passwrd">Forgot your password?</button>
          </div>
        </div>
        <div class="button-login">
          <input type="submit" name="Login" value="Login">
        </div>
      </form>
  </main>
  <footer>
      <div class="icons-f"><a href="https://www.linkedin.com/" target="_blank"> <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
        <a href="https://twitter.com/" target="_blank"> <i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
        <a href="https://github.com/" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
      </div>
      <p class="mdeo">Montevideo, Uruguay</p>
      <p class="copy">Copyright 2022 Radium Rocket. All rights reserved.</p>
  </footer>
</body>
</html>